<h1>Add a Cocktail</h1>

<%= simple_form_for Cocktail.new do |f| %>

<div class="form-inputs">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>
<%= f.input :photo, as: :attachinary %>

<div class="actions">
  <%= f.button :submit %>


</div>
<% end %>




<%= link_to 'Back', cocktails_path %>
