<div class="banner-content">
  <h1><%= @cocktail.name %></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class='text-center'></h2>
      <%=  @cocktail.name %>
      <%  @cocktail.doses.each do |dose| %>
      <li>
        <%= dose.description %><br/>
        <%= dose.ingredient.name %> <br/>
        <%= link_to 'destroy', dose_path(dose), method: :delete %>

      </li>
      <% end %>

      <!-- copy delete method from livecode example -->

      <br>

      <h2>Add a dose</h2>
      <%= render 'doses/form' %>
    </div>
  </div>
</div>

<br>

<%= link_to 'Back to all the cocktails', cocktails_path, {class: "btn btn-primary"} %>

