<h1>New Doses</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <div class="field">
    <%= f.label :ingredient%>
    What do you want to add?
    <%= f.input :ingredient, collection: @ingredients , label_method: :name, value_method: :name%>
    And how much?
    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.submit 'Add an ingredient', class: 'btn btn-primary' %>
  </div>

<% end %>

<%= link_to 'Back', cocktail_path(@cocktail) %>


